[APP]
# Name of your application
name = HexCoinBot

# Type of your application (bot, site, api, etc.)
type = bot

# The language or runtime your application uses
lang = python

# Command to start your application
main = python main.py

# The version of the runtime (optional, but recommended)
version = 3.9

[BUILD]
# Dependencies installation command
run = pip install -r requirements.txt

# Command to be run before starting the application
before_start = ntpdate -s time.nist.gov

# Port (not needed for bots, only for web services)
#port = 8000
